<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-location_type" class="control-label col-xs-12 col-sm-2">{:__('诱导位置')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[location_type]" id="c-location_type" class="form-control" data-rule="required">
                <option value="video">{:__('视频诱导')}</option>
                <option value="index">{:__('首页')}</option>
                <option value="profile">{:__('个人资料')}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="c-first_msg_type" class="control-label col-xs-12 col-sm-2">{:__('第一句话诱导类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[first_msg_type]" id="c-first_msg_type" class="form-control msgTypeSelect" data-voicediv="voiceDiv1" data-rule="required">
                <option value="word">{:__('文字')}</option>
                <option value="image">{:__('图片')}</option>
                <option value="video">{:__('视频')}</option>
                <option value="voice">{:__('语音(请上传语音地址，并填入内容区域)')}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-app_name" class="control-label col-xs-12 col-sm-2">{:__('第一句话')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea  class="form-control" id="contentVoiceInput1" name="row[first_content]" data-rule="required"></textarea>
        </div>
    </div>

    <div class="form-group" id="voiceDiv1" style="display:none">
        <label for="c-cover" class="control-label col-xs-12 col-sm-2">{:__('Mp3 file')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <button id="contentVoiceUploadBtn1" class="plupload" data-input-id="c-down_url" data-url="{$upload_url}"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                时长（秒）：<input type="text" name="row[first_extra]" class="form-control" />
                <span>{:__('Mp3 upload tips')}</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-second_msg_type" class="control-label col-xs-12 col-sm-2">{:__('第二句话诱导类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[second_msg_type]" id="c-second_msg_type" class="form-control msgTypeSelect" data-voicediv="voiceDiv2" data-rule="required">
                <option value="empty">{:__('不发')}</option>
                <option value="word">{:__('文字')}</option>
                <option value="image">{:__('图片')}</option>
                <option value="video">{:__('视频')}</option>
                <option value="voice">{:__('语音(请上传语音地址，并填入内容区域)')}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="c-app_name" class="control-label col-xs-12 col-sm-2">{:__('第二句话')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea  class="form-control" id="contentVoiceInput2" name="row[second_content]" ></textarea>
        </div>
    </div>

    <div class="form-group" id="voiceDiv2" style="display:none">
        <label for="c-cover" class="control-label col-xs-12 col-sm-2">{:__('Mp3 file')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <button id="contentVoiceUploadBtn2" class="plupload" data-input-id="c-down_url" data-url="{$upload_url}"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                时长（秒）：<input type="text" name="row[second_extra]" class="form-control" />
                <span>{:__('Mp3 upload tips')}</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-third_msg_type" class="control-label col-xs-12 col-sm-2">{:__('第三句话诱导类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[third_msg_type]" id="c-third_msg_type" class="form-control msgTypeSelect" data-voicediv="voiceDiv3" data-rule="required">
                <option value="empty">{:__('不发')}</option>
                <option value="word">{:__('文字')}</option>
                <option value="image">{:__('图片')}</option>
                <option value="video">{:__('视频')}</option>
                <option value="voice">{:__('语音(请上传语音地址，并填入内容区域)')}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-app_name" class="control-label col-xs-12 col-sm-2">{:__('第三句话')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea  class="form-control" id="contentVoiceInput3" name="row[third_content]" ></textarea>
        </div>
    </div>

    <div class="form-group" id="voiceDiv3" style="display:none">
        <label for="c-cover" class="control-label col-xs-12 col-sm-2">{:__('Mp3 file')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <button id="contentVoiceUploadBtn3" class="plupload" data-input-id="c-down_url" data-url="{$upload_url}"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                时长（秒）：<input type="text" name="row[third_extra]" class="form-control" />
                <span>{:__('Mp3 upload tips')}</span>
            </div>
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
