<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-crontab_push_user_type" class="control-label col-xs-12 col-sm-2">{:__('Select')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" id="c-crontab_push_user_type" name="row[crontab_push_user_type]" data-rule="required">
                <option value="all" {$row.crontab_push_user_type == 'all' ? 'selected' : ''}>{:__('All user')}</option>
                <option value="anchor" {$row.crontab_push_user_type == 'anchor' ? 'selected' : ''}>{:__('All anchor')}</option>
                <option value="user" {$row.crontab_push_user_type == 'user' ? 'selected' : ''}>{:__('Select user')}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-user_id" class="control-label col-xs-12 col-sm-2">{:__('用户id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[crontab_push_user_id]" id="c-user_id" class="form-control" data-rule="required" rows="4"
                      {$row.crontab_push_user_type != 'user' ? 'disabled' : ''}
            placeholder='{:__('Select user').'。 '.__('Please input user id').'，'.__('Divide by "%s"', ',')}'>{$row.crontab_push_user_id}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="c-crontab_push_hour" class="control-label col-xs-12 col-sm-2">{:__('Select')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" id="c-crontab_push_hour" name="row[crontab_push_hour]" data-rule="required">
                <option value="0" {$row.crontab_push_hour == '0' ? 'selected' : ''}>00:00</option>
                <option value="1" {$row.crontab_push_hour == '1' ? 'selected' : ''}>01:00</option>
                <option value="2" {$row.crontab_push_hour == '2' ? 'selected' : ''}>02:00</option>
                <option value="3" {$row.crontab_push_hour == '3' ? 'selected' : ''}>03:00</option>
                <option value="4" {$row.crontab_push_hour == '4' ? 'selected' : ''}>04:00</option>
                <option value="5" {$row.crontab_push_hour == '5' ? 'selected' : ''}>05:00</option>
                <option value="6"  {$row.crontab_push_hour == '6' ? 'selected' : ''}>06:00</option>
                <option value="7"  {$row.crontab_push_hour == '7' ? 'selected' : ''}>07:00</option>
                <option value="8"  {$row.crontab_push_hour == '8' ? 'selected' : ''}>08:00</option>
                <option value="9"  {$row.crontab_push_hour == '9' ? 'selected' : ''}>09:00</option>
                <option value="10"  {$row.crontab_push_hour == '10' ? 'selected' : ''}>10:00</option>
                <option value="11"  {$row.crontab_push_hour == '11' ? 'selected' : ''}>11:00</option>
                <option value="12"  {$row.crontab_push_hour == '12' ? 'selected' : ''}>12:00</option>
                <option value="13"  {$row.crontab_push_hour == '13' ? 'selected' : ''}>13:00</option>
                <option value="14"  {$row.crontab_push_hour == '14' ? 'selected' : ''}>14:00</option>
                <option value="15"  {$row.crontab_push_hour == '15' ? 'selected' : ''}>15:00</option>
                <option value="16"  {$row.crontab_push_hour == '16' ? 'selected' : ''}>16:00</option>
                <option value="17"  {$row.crontab_push_hour == '17' ? 'selected' : ''}>17:00</option>
                <option value="18"  {$row.crontab_push_hour == '18' ? 'selected' : ''}>18:00</option>
                <option value="19"  {$row.crontab_push_hour == '19' ? 'selected' : ''}>19:00</option>
                <option value="20"  {$row.crontab_push_hour == '20' ? 'selected' : ''}>20:00</option>
                <option value="21"  {$row.crontab_push_hour == '21' ? 'selected' : ''}>21:00</option>
                <option value="22"  {$row.crontab_push_hour == '22' ? 'selected' : ''}>22:00</option>
                <option value="23"  {$row.crontab_push_hour == '23' ? 'selected' : ''}>23:00</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="c-crontab_push_content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[crontab_push_content]" id="c-crontab_push_content" class="form-control" data-rule="required" rows="5">{$row.crontab_push_content}</textarea>
        </div>
    </div>
    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>