<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    
    <div class="form-group">
        <label for="c-user_withdraw_log_number" class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <div id="video"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-check_status" class="control-label col-xs-12 col-sm-2">{:__('Check')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="row[check_status]" class="check_status" value="Y" {$row.check_status == "Y" ? "checked" : ""} data-rule="checked" > {:__('Pass')}
            </label>
            <label class="radio-inline">
                <input type="radio" name="row[check_status]" class="check_status" value="N" {$row.check_status == "N" ? "checked" : ""} data-rule="checked" > {:__('Refuse')}
            </label>
        </div>
    </div>
    
    {if condition="$row.check_status == 'C'"}
        <div class="form-group hide layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            </div>
        </div>
    {else /}
        <div class="hide layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
            </div>
        </div>
    {/if}
    
</form>
<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.0.js" charset="utf-8"></script>
<script>
    var player = new TcPlayer('video', {
        "mp4": "{$row.play_url}",
        "m3u8": "", //请替换成实际可用的播放地址
        "flv": "", //请替换成实际可用的播放地址
        "autoplay" : true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
        "coverpic" : "{$row.cover}",
        "width" :  '100%',//视频的显示宽度，请尽量使用视频分辨率宽度
        "height" : '500'//视频的显示高度，请尽量使用视频分辨率高度
    });
</script>
