<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-user_signin_serial_total" class="control-label col-xs-12 col-sm-2">{:__('Signin serial total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_signin_serial_total]" value="{$row.user_signin_serial_total}"  id="c-user_signin_serial_total" class="form-control" data-rule="required" min="1" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-user_signin_coin" class="control-label col-xs-12 col-sm-2">{:__('Signin serial coin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_signin_coin]" value="{$row.user_signin_coin}"  id="c-user_signin_coin" class="form-control" data-rule="required" min="1" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-user_signin_extra_coin" class="control-label col-xs-12 col-sm-2">{:__('Signin extra coin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_signin_extra_coin]" value="{$row.user_signin_extra_coin}"  id="c-user_signin_extra_coin" class="form-control" data-rule="" min="0" />
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>