<table class="table table-bordered table-condensed table-hover">
    <thead>
        <colgroup>
            <col width="20%">
            <col>
        </colgroup>
        <tr class="active">
            <th>{:__("Basic info")}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right">{:__("Username")}：</td>
            <td>{$row.user_nickname}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Phone")}：</td>
            <td>{$row.user_phone}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("User avatar")}：</td>
            <td>
                <a href="{$row.user_avatar ?: '__CDN__/assets/img/avatar.png'}" target="_blank">
                    <img src="{$row.user_avatar}" alt="" height="36" onerror="this.src='__CDN__/assets/img/avatar.png'">
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-right">{:__("User intro")}：</td>
            <td>{$row.user_intro?:__('Empty intro')}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("User level")}：</td>
            <td>{$row.user_level}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Sex")}：</td>
            <td>{$row.user_sex == 1 ? __('Man') : __('Woman')}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Register type")}：</td>
            <td>{$row.user_register_type}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Login type")}：</td>
            <td>{$row.user_login_type}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Register time")}：</td>
            <td>{:date("Y-m-d H:i:s", $row.user_create_time)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Login time")}：</td>
            <td>{:date("Y-m-d H:i:s", $row.user_login_time)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Register IP")}：</td>
            <td>{:long2ip($row.user_register_ip)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Login IP")}：</td>
            <td>{:long2ip($row.user_login_ip)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Vip expire time")}：</td>
            <td>{$row.user_member_expire_time ? date('Y-m-d H:i:s', $row.user_member_expire_time) : __("No open vip")}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Coin")}：</td>
            <td>{:sprintf("%.2f", $row.user_coin)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Coin consume total")}：</td>
            <td>{:sprintf("%.2f", $row.user_consume_total)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Dot")}：</td>
            <td>{:sprintf("%.2f", $row.user_dot)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Dot collect total")}：</td>
            <td>{:sprintf("%.2f", $row.user_collect_total)}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Follow")}：</td>
            <td>{$row.user_follow_total}</td>
        </tr>
        <tr>
            <td class="text-right">{:__("Fans")}：</td>
            <td>{$row.user_fans_total}</td>
        </tr>

    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>