<style>
    .gift-container {
        position:relative;
        width:500px;
    }
    .gift-container .gift-img{
        width:500px;
        height:100px;
    }
    .gift-container .gift-text {
        display:none;
    }
    .gift-container:hover .gift-text {
        display:block;
        position:absolute;
        height:100px;
        width:100px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 100px;
        text-align: center;
    }
    .gift-container button{
        position:absolute;
        top:0;left:0;width:500px;height:100px;opacity: 0;
    }
</style>
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-carousel_category_id" class="control-label col-xs-12 col-sm-2">{:__('Image position')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[carousel_category_id]" id="c-carousel_category_id" class="form-control" data-rule="required" >
                <option value="">{:__('Select')}</option>
                {foreach $row_category as $category}
                    <option value="{$category.carousel_category_id}">{$category.carousel_category_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-carousel_href" class="control-label col-xs-12 col-sm-2">{:__('Link')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[carousel_href]" value=""  id="c-carousel_href" class="form-control" data-rule="url" />
        </div>
    </div>

    <div class="form-group">
        <label for="c-carousel_url" class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input type="hidden" id="c-carousel_url" name="row[carousel_url]" value="" data-rule="url|required"/>
                <div class="gift-container">
                    <img class="carousel_url-img img-responsive plupload" src="" onerror="this.src='__CDN__/assets/img/loading200x200.png'" alt="">
                    <div class="gift-text">{:__('Click to edit')}</div>
                    <button id="plupload-carousel_url" class="plupload" data-input-id="c-carousel_url"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                </div>

                <span>{:__('Carousel upload tips')}</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-carousel_sort" class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[carousel_sort]" value=""  id="c-carousel_sort" class="form-control" data-rule="required" min="0" />
        </div>
    </div>
    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>