<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-user_vip_combo_original_price" class="control-label col-xs-12 col-sm-2">{:__('原价')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_vip_combo_original_price]" value=""  id="c-user_vip_combo_original_price" class="form-control" min="1" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-user_vip_combo_fee" class="control-label col-xs-12 col-sm-2">{:__('Coin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_vip_combo_fee]" value=""  id="c-user_vip_combo_fee" class="form-control" min="1" data-rule="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="c-user_vip_combo_month" class="control-label col-xs-12 col-sm-2">{:__('Month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_vip_combo_month]" value=""  id="c-user_vip_combo_month" class="form-control" min="1" data-rule="required"" />
        </div>
    </div>

    <div class="form-group">
        <label for="c-user_level" class="control-label col-xs-12 col-sm-2">{:__('IOS')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="row[user_vip_combo_type]" id="c-user_vip_combo_type" value="yes" data-rule="required" > {:__('Yes')}
            </label>
            <label class="radio-inline">
                <input type="radio" name="row[user_vip_combo_type]" id="c-user_vip_combo_type" value="no" data-rule="required" checked > {:__('No')}
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="c-user_vip_combo_apple_id" class="control-label col-xs-12 col-sm-2">{:__('Apple pay combo id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[user_vip_combo_apple_id]" value=""  id="c-user_vip_combo_apple_id" class="form-control" disabled data-rule="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="c-user_vip_combo_reward_coin" class="control-label col-xs-12 col-sm-2">{:__('赠送金币')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[user_vip_combo_reward_coin]" value="0"  id="c-user_vip_combo_reward_coin" class="form-control" data-rule="required" />
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
