<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-realname" class="control-label col-xs-12 col-sm-2">{:__('Realname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[realname]" value=""  id="c-realname" class="form-control" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-account" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[account]" value=""  id="c-account" class="form-control" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="password" class="form-control" id="password" name="row[password]" value="" data-rule="required;password" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-qq" class="control-label col-xs-12 col-sm-2">{:__('QQ')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[qq]" value=""  id="c-qq" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[phone]" value=""  id="c-phone" class="form-control"  />
        </div>
    </div>
    <div class="form-group">
        <label for="c-vip_distribution_profits" class="control-label col-xs-12 col-sm-2">{:__('Buy VIP distribution of profits')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline input-group">
                <input type="number" name="row[vip_distribution_profits]" data-rule="required" id="c-vip_distribution_profits" class="form-control" min="0" max="100">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-recharge_distribution_profits" class="control-label col-xs-12 col-sm-2">{:__('User recharge distribution of profits')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline input-group">
                <input type="number" name="row[recharge_distribution_profits]" data-rule="required" id="c-recharge_distribution_profits" class="form-control" min="0" max="100">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>