<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    
    <div class="form-group">
        <label for="c-app_version_os" class="control-label col-xs-12 col-sm-2">{:__('Operating system')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[app_version_os]" id="c-app_version_os" class="form-control" data-rule="required">
                <option value="">{:__('Select')}</option>
                <option value="ios" {$row.app_version_os == 'ios' ? 'selected' : ''}>{:__('IOS')}</option>
                <option value="android" {$row.app_version_os == 'android' ? 'selected' : ''}>{:__('Android')}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-app_app_id" class="control-label col-xs-12 col-sm-2">{:__('APP名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-app_id" class="form-control"  disabled >
                {foreach $appList as $appItem}
                <option value="{$appItem.id}" {$row.app_id == $appItem.id ? 'selected' : ''}>{$appItem.app_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-app_version_code" class="control-label col-xs-12 col-sm-2">{:__('Version code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" name="row[app_version_code]" id="c-app_version_code" class="form-control" data-rule="required" value="{$row.app_version_code}" disabled />
        </div>
    </div>

    <div class="form-group">
        <label for="c-app_version_name" class="control-label col-xs-12 col-sm-2">{:__('Version name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[app_version_name]" id="c-app_version_name" class="form-control" data-rule="required" value="{$row.app_version_name}" />
        </div>
    </div>

    <div class="form-group">
        <label for="c-app_version_content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[app_version_content]" id="c-app_version_content" class="form-control" data-rule="required" rows="5" maxlength="200">{$row.app_version_content}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="c-app_version_download_url" class="control-label col-xs-12 col-sm-2">{:__('Download url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[app_version_download_url]" id="c-app_version_download_url" class="form-control" data-rule="required|url" value="{$row.app_version_download_url}" />
        </div>
    </div>

    <div class="form-group">
        <label for="c-app_version_is_force" class="control-label col-xs-12 col-sm-2">{:__('Force update')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="row[app_version_is_force]" id="app_version_is_force" value="Y" data-rule="checked" {$row.app_version_is_force == 'Y' ? 'checked' : ''} > {:__('Yes')}
            </label>
            <label class="radio-inline">
                <input type="radio" name="row[app_version_is_force]" id="app_version_is_force" value="N" data-rule="checked" {$row.app_version_is_force == 'N' ? 'checked' : ''} > {:__('No')}
            </label>
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
