<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审核状态:</label>
        <div class="col-xs-12 col-sm-9">
            <label class="radio-inline">
                <input type="radio" name="row[short_posts_status]"  value="C"  {$row.short_posts_status == "C" ? "checked" : ""} > 审核中
            </label>
            <label class="radio-inline">
                <input type="radio" name="row[short_posts_status]"  value="Y"  {$row.short_posts_status == "Y" ? "checked" : ""} > 通过
            </label>
            <label class="radio-inline">
                <input type="radio" name="row[short_posts_status]"  value="N"  {$row.short_posts_status == "N" ? "checked" : ""} > 拒绝
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="c-short_posts_check_remark" class="control-label col-xs-12 col-sm-2">{:__('审核原因')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[short_posts_check_remark]" value="{$row.short_posts_check_remark}"  id="c-short_posts_check_remark" class="form-control" />
        </div>
    </div>

    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>