<style>
    .gift-container {
        position:relative;
        width:80px;
    }
    .gift-container .gift-img{
        width:80px;
        height:80px;
    }
    .gift-container .gift-text {
        display:none;
    }
    .gift-container:hover .gift-text {
        display:block;
        position:absolute;
        height:80px;
        width:80px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 80px;
        text-align: center;
    }
    .gift-container button{
        position:absolute;
        top:0;left:0;width:80px;height:80px;opacity: 0;
    }
</style>
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-anchor_user_id" class="control-label col-xs-12 col-sm-2">{:__('主播用户id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[anchor_user_id]" value=""  id="c-anchor_user_id" class="form-control" data-rule="required" />
        </div>
    </div>
    <div id="video"></div>
    <div class="form-group">
        <label for="c-cover" class="control-label col-xs-12 col-sm-2">{:__('视频文件')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input type="hidden" id="c-down_url" name="row[video_url]" value="" data-rule="url"/>
                <button id="plupload-down_url" class="plupload" data-input-id="c-down_url" data-url="{$upload_url}"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                <input type="text" id="c-down_url2" name="row[down_url2]" class="form-control" value="" disabled data-rule="url|required"/>
            </div>
        </div>
    </div>
    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>